<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My recent projects</title>
    </head>
    <body>
        <h1>This is where you can check out my projects.</h1>

        <div>
            <a href="c:\users\mojca\pycharmprojects\fakebook.html">Fakebook</a>
        </div>
        <div>
            <a href="c:\users\mojca\pycharmprojects\boogle.html">Boogle</a>
        </div>
        <div>
            <a href="c:\users\mojca\pycharmprojects\hairsaloon.html">Hairsaloon</a>
        </div>


    </body>
</html>